<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Planitall</title>
	<link rel="stylesheet" href="style.css">

	<script data-main="scripts/main.js" src="lib/require/require.js"></script>

</head>
<body>

	<div class="app">
		
		<h2 class='title'>planitall</h2>

		<nav class='navigation'>
			<ul class='main-navigation'></ul>
		</nav>

		<div class="content"></div>
		<div class="plugin"></div>

		<script type="text/template" id="home" class='side'>
			this is the homepage!
		</script>

		<script type="text/template" id='menu-item' class='navigational'>

			<% link = stripLink(link) %>
			<li id="<%= id %>" data-selectable-id='<%= link %>' data-index='<%= index %>' class='selectable<% if (haveSubMenu) print(' submenual'); else print(' nosubmenu') %>'><a href='#<%= link %>'><%= title %></a><% if (haveSubMenu) { %>

				<ul class='sub-menu'>
					<% for (var i = 0, sublink; i < submenus.length; i++) { %>
						<% sublink = link + '/' + stripLink(submenus[i].link); %>
						<li data-selectable-id='<%= sublink %>' class='selectable'><a href='#<%= sublink %>'><%= submenus[i].title %></a></li>
					<% } %>
				</ul>

			<% } %></li>


		</script>


		<script type="text/template" id="plugins" class='side'>
			<ul class="plugins">
				<% for (var i = 0; i < list.length; i++) { %>

					<li><p><a href="#plugin/view/<%= list[i].id %>"><%= list[i].title %></a></p><button class='toggle-state' data-for="<%= list[i].id %>"><%= list[i].active ? 'Inactivate' : 'Activate' %></button></li>

				<% } %>
			</ul>
		</script>



	</div>
</body>
</html>