
@import 'scheme'
@import 'fa'


body
	color: #333
	font-family: Arial
	background-color: $scheme-first
	// font-weight: bold
	margin: 30px
	letter-spacing: 2px


a
	@include link

a:hover
	@include linkhover


.title
	color: $scheme-third
	font-size: $h1
	margin: 0
	margin-bottom: 15px




.navigation
	
	border-bottom: 2px solid $scheme-third
	margin-bottom: 15px

	float: left

	ul
		margin: 0
		padding: 0

		li

			@include item
			@include navigation
			float: left
			list-style: none
			cursor: pointer


		li.selected a
			// border-bottom-color: $scheme-first
			// font-weight: bold
			color: $scheme-fourth


		li:first-of-type
			border-top-left-radius: $scheme-border-sharpness

		li:last-of-type
			border-top-right-radius: $scheme-border-sharpness

		li:hover
			border-bottom: 2px solid $scheme-fourth
			margin-bottom: -2px

			a
				@include linkhover

		li.submenual:before
			+fa(caret-down)
			float: right
			margin-left: 5px


		li.submenual .sub-menu
			display: none
			position: absolute
			z-index: 500
			margin-top: $navigation-padding + 2px
			margin-left: -$navigation-padding
			box-shadow: 0 6px 12px rgba(0,0,0,.175)


		li.selected.submenual:before
			color: $scheme-fourth


		li.submenual:hover:before
			+linkhover

		



		li.submenual:hover .sub-menu
			display: block


		li.submenual .sub-menu li
			float: none
			border-radius: 0
			border-bottom: $border
			border-right: 2px solid $scheme-third

			a
				@include link


		li.submenual .sub-menu li:last-of-type
			border-bottom: none
			border-bottom-right-radius: $scheme-border-sharpness
			border-bottom-left-radius: $scheme-border-sharpness

		li.submenual:hover .sub-menu li:hover
			margin-bottom: 0px
			border-right-color: $scheme-fourth
			a
				@include linkhover

		li.submenual .sub-menu li.selected a
			color: $scheme-fourth

.content, .plugin
	clear: both
	// padding-top: 15px



.plugins

	list-style: none

	li
		@include item
		@include navigation

		border: $border
		border-bottom: none
		padding: 0 15px

		p
			display: inline-block

		button
			@include item
			float: right
			margin-top: -2px
			cursor: pointer
			font-size: $font-size
			margin-top: 14px

		button:focus
			outline: none
